@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-repeat: no-repeat;
}
.main{

    height: 100vh;
    background-image: url('/assets/IMAGES/bg.png');
    background-size: cover;

}

.logo{

display: flex;
justify-content: center;    

}

.Navbar{
    overflow: hidden;
    color: black;
}

.Navbar .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 30px;
}

.Navbar .logo img{
    height: 50px;
}

.Navbar .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Navbar .menu ul li {
    float: left;
    gap : 20px;
}

.Navbar .menu ul li a {
    display: block;
    color:white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Navbar .menu ul li a:hover {
    background-color: #111;
    border-radius:5px ;
    color: white;
}
.banner{
    z-index: 200;
    position: relative;
    display: flex;
    justify-content: center;
    text-align:left; 
    padding-top:8% ;
    padding-right: 50%;
    
}
.banner h2{
    font-size: 3rem;
    color:black;
    font-weight: bold;
    font-style: 'Roboto';
    margin-bottom: 0px;
}
.banner p{
    font-size: 0.8rem;
    color:black;
    font-weight: bold;
    font-style: 'Roboto';
    margin-bottom: 100px;
    margin-top: 0px;
}
.banner button{

    background-color:whitesmoke;
    color:black;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow:  2px 3px 2px;
    border:none;
}
.banner button:hover{
    background-color:whitesmoke;
    
    color: black;
}  
.banner button {
    transition: transform 0.2s; /* Smooth transition for the transform property */
    cursor: pointer; /* Changes the cursor to a pointer to indicate it's clickable */
}

.banner button:active {
    transform: scale(1.1); /* Scales up the button to 110% of its size when clicked */
}

@media screen and (max-width: 768px) {
    /* SECTION - 1*/
    *{
     
        padding-left: 10px;
        padding-right: 10px;
    }
    .main {
        background-position: center right;
        background-size: 100%;
        padding: auto; /* Shift focus to the right on medium screens */
    }
    .logo{
       background-color: white;
    }
    .logo img{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo h3{
        display: none;
    }
    .Navbar .menu ul li a{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .main {
        background-position: 80% center right; 
        background-size: 100%;
        background-repeat: no-repeat;/* Shift focus further to the right on small screens */
        padding:auto;
    }
    .logo img{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo h3{
        display: none;
    }
    .Navbar .menu ul li a{
        display: none;
    }
    .banner h2{
        font-size: 2rem;
    }
    .banner p{
        font-size: 0.8rem;
    }
    .banner button{
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 320px) {
    .main {
        background-position: 90% center right;
        padding:auto;
         /* Maximize the shift to the right on very small screens */
    }
    .logo img{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo h3{
        display: none;
    }
    .Navbar .menu ul li a{
        display: none;
    }
    .banner h2{
        font-size: 2rem;
    }
    .banner p{
        font-size: 0.8rem;
    }
    .banner button{
        font-size: 0.8rem;
    }
}


/* SECTION - 2*/
.about-us{
    display: flex;

    height: 100vh;
}
.about-us-text{
    flex:1;
    order: 2;
    width: 50%;
    text-align: left;
    padding-top: 150px;
    font-style: 'Roboto';
}
.about-us-text p{
    width: auto;
    font-size: 1.3rem;
    color: black;
    font-style: 'Roboto';
}
.boxs .box-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    padding: 50px;
    overflow: hidden;
}
.box-wrap{
    column-gap: 40px;
    row-gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.box-1{
    width: 300px;
    height: 270px;
    background-image: url('/assets/IMAGES/Rectangle 57.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 3px;
}
.box-1 h1{
    font-size: 3rem;
    color:white;
    align-items: left;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 80px;

}
.box-2{
    width: 300px;
    height: 270px;
    background-image: url('/assets/IMAGES/Rectangle 58.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 3px;
}
.box-3{
    width: 620px;
    height: 270px;
    background-image: url('/assets/IMAGES/Rectangle 59.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 3px;
}
@media screen and (max-width: 768px) {
    .about-us {
        flex-direction: column; /* Stack the items vertically */
    }
    

    .about-us-text {
        width: 100%; /* Full width */
        order: 2; /* Text comes first */
        padding-top: 50px; 
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;/* Less padding on top */
    }

    .box-wrap {
      width: 100%;
      height: 30%;
    }

    .box-1, .box-2, .box-3 {
        max-width: 100px;
        max-height: 100px;
    }
}

@media screen and (max-width: 425px) {
    .about-us-text p {
        font-size: 1rem; 
        display: flex;
        /* Smaller font size for very small screens */
    }
    .box-wrap {
        width: 100px;

        height: 170px;
      }
  

    .box-1 h1, .box-2 h1, .box-3 h1 {
        font-size: 1.5rem; /* Even smaller font size */
    }
}
@media screen and (max-width: 320px) {
    
}
/* SECTION - 3*/

.services{
    display: flex;
    justify-content: space-between; /* Aligns children (cards and boxes) on opposite ends */
    align-items: center; /* Centers children vertically */
    height: 100vh;
    
}

.card-container {
    perspective: 1000px;
    width: 100%; /* Adjust width as needed */
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row; /* Aligns cards in a row */
    justify-content: flex-start; /* Aligns cards to the start of the container */
    align-items: center; /* Centers cards vertically */
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    column-gap: 10px;
    
}
.card {
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 3px;
    width: 300px;
    height: 480px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
   
    /* Adds space between cards */
}
.card-front img{
    width: 80%;
    height: 50%;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.card-front {
    background-color: #fff;
    color: #333;
}

.card-back {
    background-color: #333;
    color: #fff;
    transform: rotateY(180deg);
}
.btn{
    background-color: #111;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    width: 80%;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    box-shadow:  0px 0px 10px;
}

.boxs-2 .box-wrap-2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1; /* Takes remaining space */
    width: 700px; /* Adjust width as needed */
    height:550px; /* Adjust height as needed */
    padding: 30px;
    overflow: hidden;
    row-gap: 40px;
    column-gap: 40px;
}
@media screen and (max-width: 768px) {
    .services, .card-container, .cards {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 100%; /* Full width on smaller screens */
        margin-right: 0; /* Remove margin to fit full width */
    }

    .boxs-2 .box-wrap-2 {
        width: 100%; /* Full width for better responsiveness */
    }
}
/* SECTION - 4*/
.why-us{
    padding-top: 50px;
    height: 100vh;
}
.why-us-container {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    padding-top: 100px;
}

.why-box {
    width: 350px;
    height: 270px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-image: url('/assets/IMAGES/Rectangle 57.png');
    background-size:cover;
}
.why-box h1{
    font-size: 3rem;
    color:whitesmoke;
    align-items: left;
    display: flex;
    justify-content: left;
    padding-left: 7px;
    padding-top: 100px;
}

.why-cards {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding-right: 40px;
    column-gap: 70px;
    perspective: 1000px; /* Apply perspective here */
}

.why-card {
    width: 350px;
    height: 400px;
    margin-right: 20px;
    position: relative; /* Ensure this is set */
    transform-style: preserve-3d; /* Ensures children are in 3D space */
    transition: transform 0.6s;
}
.why-card img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.why-card:hover {
    transform: rotateY(180deg);
}

.why-card-front, .why-card-back {
    border-radius: 30px;
    box-shadow: 0px 2px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backface-visibility: hidden;
    transition: transform 0.6s;
    position: absolute;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.why-card-front {
    background-color: #fff;
    color: #333;
}

.why-card-back {
    background-color: #333;
    color: #fff;
    transform: rotateY(180deg);
}
/* SECTION - 5*/
.btn-2{
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow:  0px 0px 5px;
    height: 50px;
}
.products{
    padding-top: 150px;
    height: 100vh;
}
.products-container{
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    padding-top: 30px;
    
}
.products-box {
    background-image: url('/assets/IMAGES/Rectangle 57.png');
    background-size: cover;
    width: 350px;
    height: 350px;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 40px;
}
.products-box h1{
    font-size: 3rem;
    color:white;
    align-items: left;
    display: flex;
    justify-content: left;
    padding-top: 150px;
}
.product-card{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding-right: 40px;
    column-gap: 70px;
    perspective: 1000px; /* Apply perspective here */
}

.product-card {
    width: 300px;
    height: 400px;
    margin-right: 20px;
    position: relative; /* Ensure this is set */
    transform-style: preserve-3d; /* Ensures children are in 3D space */
    transition: transform 0.6s;
}

.product-card:hover {
    transform: rotateY(180deg);
}

.product-card-front, .product-card-back {
    border-radius: 30px;
    box-shadow: 0px 2px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backface-visibility: hidden;
    transition: transform 0.6s;
    position: absolute;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.product-card-front {
    background-color: #fff;
    color: #333;
}

.product-card-back {
    background-color: #333;
    color: #fff;
    transform: rotateY(180deg);
}


.logo-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    
}

.logo-slider {
    overflow-x:hidden;
    padding: 80px;

}
/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
 
}

.footer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.footer-box{
    width: 300px;
    height: 230px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
}
 .b1 {
    background-image: url('/assets/IMAGES/Rectangle 57.png');
    background-size: cover;
    
    
}
.b1 {
    position: relative; /* This makes .b1 a reference point for positioning its children */ 
}

.b1 h1 {
    position: absolute; /* Position the h1 absolutely within .b1 */
    bottom: 0; /* Align the bottom of h1 with the bottom of .b1 */
    width: 100%; /* Optional: Makes h1 width equal to .b1 width */
    font-size: 2rem;
    color: white;
    text-align: left; /* Optional: Centers the text horizontally */
}
.map {
    flex: 2;
    border-radius: 30px; /* Rounded corners for the map section */
    overflow: hidden;
    box-shadow: 0px 2px 5px;
    border: 1px solid #ccc;
    padding-left: 20px;/* Ensures the rounded corners affect inner elements */
}

.map-container {
    display: flex;
    justify-content: space-between; /* Aligns children (iframe and contact details) on opposite ends */
    align-items: center; /* Centers children vertically */
    
}

.contact-details {
    flex: 1; /* Takes remaining space */
    word-wrap: break-word;
   /* Adds some padding between the contact details and the iframe */
}
ul{
    list-style: none;
}
.b2{
    position: relative;
}
.b2 ul li{
    padding-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    font-style: 'Roboto';
    
}
.b2 img{
    
    width: 130px;
    height: 80px;
    float:right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}
.contact-details  h1{
    font-size: 1.5rem;
   margin-top: 0;
    color: black;
    font-style: 'Roboto';
}
.contact-details ul li{
    font-size: 0.9rem;
    padding-bottom: 30px;
    color: black;
    font-style: 'Roboto';
    margin-left: 0px;
    
}
.iframe {
    flex: 2; /* Allows the iframe to take twice the space of contact details */
    border-radius: 10px; /* Rounded corners for the iframe container */
    overflow: hidden; /* Ensures the rounded corners affect inner elements */
}

.iframe iframe {
    width: 100%;
    height: 580px;
    border: none; /* Removes any default border around the iframe */
}

.icon-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.icon-footer-container ul {
    display: flex;
    gap: 0px;
    list-style: none;
    padding: 0;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
}

.icon-footer-container ul li {
    display: flex;
    align-items: center;
    list-style: none; /* Remove default list style */
}

.icon-footer-container ul li.logo-text {
    flex-grow: 1; /* Allows the logo-text to take up the necessary space */
}

.icon-footer-container ul li.icons {
    display: flex;
    
}

.icon-footer-container ul li.logo-text img {
    margin-right: 10px; /* Space between logo and text */
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 320px) {

}
@media screen and (max-width: 280px) {
    
}


